<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roommate Info in detail</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Roommate Info in detail</h1>
    <h3>Property id: <%=   roommate.Property_id %></h3>
    <div class="data">
        <h3> roommate id: <%=  roommate.id %></h3>
        <h3>NAME :<%=  roommate.name %></h3>
        <h3> AGE : <%=  roommate.age %></h3>
        <h3>GENDER : <%=  roommate.gender %></h3>
        <h3>Veg_noveg : <%=  roommate.Veg_nonveg %></h3>
    
    </div>
</body>
</html>